{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <a class="link-perfil"  href="{{ url_for('user') }}">Ver Perfil</a>
    <form action="#" method="post" class="post-form">
        <fieldset>
            <input class="post-input" type="text" name="title" id="title" maxlength="30" placeholder="Um título legal"><br>
        </fieldset>
        <fieldset>
            <textarea class="post-text" name="text" id="text" placeholder="Descreva seu dia..."></textarea><br>
        </fieldset>
        <button class="post-button" type="submit">Postar</button>
    </form>
    <hr class="separator">
    <div id="posts" class="posts"></div>
    <script src="{{ url_for('static', filename='scripts/makePost.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/getPosts.js') }}"></script>

{% endblock %}
