{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    <div class="box">
        <h1 class="user-name">{{ user.name }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Seguindo</th>
                    <th>Seguidores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="following">{{ user.following }}</td>
                    <td id="followers">{{ user.followers }}</td>
                </tr>
            </tbody>
        </table>
        <p>posts = {{ user.posts }}</p>
        <a class="link-logout"  href="{{ url_for('logout') }}">Sair</a>
    </div>
    <form class="search-form">
        <input class="search-input" type="text" placeholder="Buscar usuários">
    </form>
    <div id="results"></div>
    <script src="{{ url_for('static', filename='scripts/updateFollowers.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/followUser.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/getUsers.js') }}"></script>

{% endblock %}
